@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-quicksand {
      font-family: 'Quicksand', sans-serif;
    }
  }


/* Add this CSS to your styles.css or in the style tag of your HTML */
.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.days {
  display: flex;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  height: 80px;
  cursor: pointer;
}

.cell.disabled {
  background-color: #f0f0f0;
}

.cell.selected {
  background-color: #aaf;
}

.number {
  font-size: 20px;
}

.bg {
  font-size: 12px;
}

.icon {
  cursor: pointer;
}
